#github .gitignore file
#@can not merge to dev git
/ws/*
/target/*
/bin/*
/*/target/*
/*/bin/*
/*/.*
.project
.classpath
.idea/
classes/
*.iml
conf/uat/*
conf/fat/*
conf/prod*/*
conf/fws/*
logback-prod*.xml
logback-uat.xml
*.log
APP_HOME_IS_UNDEFINED
*/**/git.properties
apidoc/node_modules
apidoc/vendor
apidoc/locales
apidoc/img
apidoc/utils
main.js
apidoc/css
api_*
