<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="byDay" datePattern="yyyy-MM-dd_HH:mm"/>
    <!-- Output to Console -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %10logger [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>

</configuration>
