<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="logImpl" value="SLF4J"/>
  </settings>

  <typeAliases>
    <package name="com.ctrip.zeus.dao.entity"/>
  </typeAliases>
  <mappers>
    <package name="com.ctrip.zeus.dao.mapper"/>
  </mappers>
</configuration>
