<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.1.xsd">

    <bean id="rollingTrafficStatus" class="com.ctrip.zeus.nginx.RollingTrafficStatus" />
    <bean id="nginxStatusFetcherDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.ctrip.zeus.nginx.NginxStatusFetcher"/>
        <property name="jobDataMap">
            <map>
                <entry key="rollingTrafficStatus" value-ref="rollingTrafficStatus" />
            </map>
        </property>
        <property name="durability" value="true"/>
    </bean>

    <!-- Run the job every 2 seconds with initial delay of 1 second -->
    <bean id="nginxStatusFetcherTrigger"  class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="jobDetail" ref="nginxStatusFetcherDetail"/>
        <property name="startDelay" value="1000"/>
        <property name="repeatInterval" value="60000"/>
    </bean>

    <bean id="operationLogCleanDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.ctrip.zeus.service.operationLog.OperationLogCleanJob"/>
        <property name="jobDataMap">
            <map>
                <entry key="operationLogDao" value-ref="operationLogDao" />
            </map>
        </property>
        <property name="durability" value="true"/>
    </bean>

    <!-- Run the job every 1h = 60*60*1000=3600000 ms with initial delay of 1 second -->
    <bean id="operationLogCleanTrigger"  class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="jobDetail" ref="operationLogCleanDetail"/>
        <property name="startDelay" value="1000"/>
        <property name="repeatInterval" value="3600000"/>
    </bean>

    <bean id="taskCleanDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.ctrip.zeus.service.task.TaskCleanJob"/>
        <property name="jobDataMap">
            <map>
                <entry key="taskDao" value-ref="taskDao" />
            </map>
        </property>
        <property name="durability" value="true"/>
    </bean>

    <!-- Run the job every 1h = 60*60*1000=3600000 ms with initial delay of 1 second -->
    <bean id="taskCleanTrigger"  class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="jobDetail" ref="taskCleanDetail"/>
        <property name="startDelay" value="1000"/>
        <property name="repeatInterval" value="3600000"/>
    </bean>


    <bean id="taskWorkerDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.ctrip.zeus.executor.TaskExecutorJob"/>
        <property name="jobDataMap">
            <map>
                <entry key="taskWorker" value-ref="taskWorker" />
            </map>
        </property>
        <property name="durability" value="true"/>
    </bean>

    <!-- Run the job every 1h = 60*60*1000=3600000 ms with initial delay of 1 second -->
    <bean id="taskWorkerTrigger"  class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="jobDetail" ref="taskWorkerDetail"/>
        <property name="startDelay" value="1000"/>
        <property name="repeatInterval" value="1000"/>
    </bean>

    <!-- Scheduler factory bean to glue together jobDetails and triggers to Configure Quartz Scheduler -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
            <list>
                <ref bean="nginxStatusFetcherDetail"/>
                <ref bean="operationLogCleanDetail"/>
                <ref bean="taskWorkerDetail"/>
                <ref bean="taskCleanDetail"/>
            </list>
        </property>
        <property name="triggers">
            <list>
                <ref bean="nginxStatusFetcherTrigger"/>
                <ref bean="operationLogCleanTrigger"/>
                <ref bean="taskWorkerTrigger"/>
                <ref bean="taskCleanTrigger"/>
            </list>
        </property>
    </bean>
</beans>
