<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>所有VS拆分</title>
    <script src="/static/lib/jquery/jquery-2.2.1.min.js"></script>
    <script src="/static/lib/jquery/jquery.ba-hashchange.js"></script>
    <script src="/static/lib/jquery/jquery.cookie.js"></script>

    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/lib/angular/angular.js"></script>
    <script src="/static/lib/angular/angular-sanitize.js"></script>
    <script src="/static/lib/angular/angular-cookies.js"></script>

    <script src="/static/lib/underscore/underscore-min.js"></script>
    <script src="/static-new/http-auth-interceptor.js"></script>

    <!--Include Bootstrap-Table-->
    <script src="/static/lib/bootstrap-table/bootstrap-table.js"></script>
    <script src="/static/lib/bootstrap-table/bootstrap-table-zh-CN.js"></script>
    <script src="/static/lib/bootstrap-table/bootstrap-table-editable.js"></script>
    <script src="/static/lib/bootstrap-table/bootstrap-editable.js"></script>
    <link rel="stylesheet" href="/static/lib/bootstrap-table/bootstrap-table.css">
    <link rel="stylesheet" href="/static/lib/bootstrap-table/bootstrap-editable.css">


    <!--Repository-->
    <script src="/static-new/model/Class.js"></script>
    <script src="/static-new/util/C.js"></script>
    <script src="/static-new/util/Constants.js"></script>
    <script src="/static-new/util/object-wrapper.js"></script>

    <script src="/static-new/viewmodel/vs-seperate.js"></script>
    <script src="/static-new/repository/unitwork/command.js"></script>
    <script src="/static-new/repository/unitwork/repository.js"></script>
    <script src="/static-new/repository/slb/slbs-repository.js"></script>
    <script src="/static-new/repository/vs/vses-repository.js"></script>
    <script src="/static-new/repository/vs/vs-statistics-repository.js"></script>
    <script src="/static-new/repository/tools/vs-seperate-repository.js"></script>
    <!--Service-->
    <script src="/static-new/service/vs/vses-service.js"></script>
    <script src="/static-new/service/tools/vs-seperate-service.js"></script>

    <script src="/static/lib/jquery-showloading/jquery.showLoading.js"></script>

    <!--Bootstrap-->
    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/lib/velonic-admin/css/bootstrap-reset.css">
    <link rel="stylesheet" href="/static/lib/font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/lib/angular-autocomplete/angucomplete-alt.css">

    <!--Animation css-->
    <link href="/static/lib/velonic-admin/css/animate.css" rel="stylesheet">
    <link href="/static/lib/velonic-admin/assets/ionicon/css/ionicons.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/static/lib/velonic-admin/css/style.css" rel="stylesheet">
    <link href="/static/lib/velonic-admin/css/helper.css" rel="stylesheet">

    <!-- Include Bootstrap-Validator -->
    <script src="/static/lib/bootstrap-validator/bootstrap.validation.js"></script>
    <link rel="stylesheet" href="/static/lib/bootstrap-validator/bootstrap.validation.css">
    <script src="/static/lib/angular-autocomplete/angucomplete-alt.min.js"></script>

    <link href="/static/lib/velonic-admin/assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">
    <link href="/static/lib/velonic-admin/assets/notifications/notification.css" rel="stylesheet">

    <script src="/static/lib/velonic-admin/js/modernizr.min.js"></script>
    <script src="/static/lib/velonic-admin/js/pace.min.js"></script>
    <script src="/static/lib/velonic-admin/js/wow.min.js"></script>
    <script src="/static/lib/velonic-admin/js/jquery.app.js"></script>
    <script src="/static/lib/velonic-admin/assets/sweet-alert/sweet-alert.min.js"></script>


    <link rel="stylesheet" href="/static/css/global-new.css">
    <link rel="stylesheet" href="/static/css/formatter.css">
    <style type="text/css">
        .operation a {
            color: blue;
        }
    </style>
</head>
<body>
<header class="am-topbar admin-header page-head">

    <div class="am-topbar-brand ">
        <a href="/portal" class="logo-expanded">
            <span class="nav-label fa fa-road">SLB Portal</span>
        </a>
    </div>

    <div class="am-topbar-collapse">
        <button type="button" class="navbar-toggle pull-left">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div id="top-brand" class="navbar-left pull-left hidden-xs" ng-app="brandApp" ng-controller="brandController"
             ng-cloak>

        </div>
    </div>

    <nav class="navbar-default" role="navigation">
        <ul class="nav navbar-nav hidden-xs" id="top-links" ng-app="topLinksApp" ng-controller="topLinksController"
            ng-cloak>
            <li class="dropdown" ng-class="isSelectedLink(x.url)" data-ng-repeat="x in data.members">
                <a href="{{generateTopLink(x)}}"><span ng-class="iconClass(x)"></span>{{x.name}}</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right top-menu top-right-menu"><li class="dropdown language-menu" id="language-area" ng-app="languageApp" ng-controller="languageController" ng-cloak> <button class="btn btn-default btn-xs language-bt">语言</button> <select class="language-choose" ng-model="selected" ng-change="changeLanguage(selected)"><option style="color: white" data-ng-repeat="lan in data.languages">{{lan}}</option></select></li>
            <li class="dropdown diagnose-menu"><a class="diagnose-menu-item" data-toggle="modal"
                                                  data-target="#questionModal" data-dismiss="modal"><span><i
                    class="fa fa-comment-o"></i> <span>Feedback</span></span></a></li>

            <li class="dropdown text-center" id="user-info" ng-app="userInfoApp" ng-controller="userInfoController"
                ng-cloak>
                <a data-toggle="dropdown" class="dropdown-toggle naviList" href="#">
                    <i class="fa fa-user username"></i>
                    <span class="username">{{query.user}} </span> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu pro-menu fadeInUp animated user-ops-div" tabindex="5003"
                    style="overflow: hidden; outline: none;">
                    <li><a href="/portal/user#?env={{env}}"><span>&nbsp;{{resource['userinfo']['home']}}</span></a></li>
                    <li ng-show="showSuperAdmin()"><a href="/portal/backend/users#?env={{env}}"><span>&nbsp;{{resource['userinfo']['auth']}}</span></a>
                    <li><a href="/api/auth/user/logout"><span>&nbsp;{{resource['userinfo']['logout']}}</span></a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

<aside class="left-panel " style="overflow: hidden; outline: none;">
    <nav id="header-area" ng-controller="headerInfoController" class="navigation" ng-cloak>
        <ul class="list-unstyled">
            <li class=""><a href="{{generateLink('list')}}"><i
                    class="ion-ios7-speedometer"></i>
                <span class="nav-label">{{resource["tools"]["headerInfoController_toolsList"]}}
</span></a></li>

            <li class=""><a href="{{generateLink('url')}}"><i class="fa fa-tripadvisor"></i> <span
                    class="nav-label">{{resource["tools"]["headerInfoController_URLProbeTool"]}}
</span></a>
            </li>


            <li class=" tools-hide"><a href="{{generateLink('cert-upgrade')}}"><i class="fa fa-certificate"></i> <span
                    class="nav-label">证书升级</span></a>
            </li>
            <li class="tools-hide"><a href="{{generateLink('slb-sharding')}}"><i class="fa fa-cogs"></i> <span
                    class="nav-label">{{resource["tools"]["headerInfoController_SLBSplitTool"]}}
</span></a>
            </li>

            <li class="tools-hide"><a href="{{generateLink('vs-migration')}}"><i class="fa fa-rocket"></i> <span
                    class="nav-label">{{resource["tools"]["headerInfoController_VSMigrationTool"]}}
</span></a>
            </li>
            <li class="active"><a href="{{generateLink('vs-seperate')}}"><i class="fa fa-delicious"></i> <span
                    class="nav-label">{{resource["tools"]["headerInfoController_VSSplitTool"]}}
</span></a>
            </li>
            <li class=""><a href="{{generateLink('vs-merge')}}"><i class="fa fa-steam"></i> <span
                    class="nav-label">{{resource["tools"]["headerInfoController_VSMergeTool"]}}
</span></a>
            </li>


        </ul>
    </nav>
</aside>
<section class="content">
    <div class="wraper container-fluid">
        <div class="row breadcrumb-container" id="breadcrumb-area" ng-app="breadCrumbApp"
             ng-controller="breadCrumbController" ng-cloak>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    {{resource['bread']['home']}}
                </li>
                <li ng-repeat="x in breadlist" ng-cloak>
                    {{x}}
                </li>
            </ul>
        </div>

        <div class="breadcrumb-follow" id="self-info-area" ng-app="selfInfoApp"
             ng-controller="selfInfoController" ng-cloak="">
            <div class="row tile-summary">
                <div class="col-lg-4 col-sm-4">
                    <div class="btn btn-block btn-lg btn-primary " ng-click="startNewSeperate()"
                         style="padding: 54px 10px 0px 0px;height: 130px;">
                        <i class="fa fa-plus"></i>
                        <span type="button" class="bg-white" style="color: white">{{resource.tools.vseparates.html.msg11}}</span>
                    </div>
                </div>

                <div class="col-lg-8 col-sm-8">
                    <div class="widget-panel widget-style-2 white-bg"
                         style="padding: 40px 10px 0px 0px;height: 130px;">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row" style="margin-left: 10px;">
                                    <div style="cursor: pointer;" class="col-md-2 text-center"
                                         data-ng-repeat="(count,v) in data.seperateCounts"
                                         ng-click="filterMigration(count)">
                                        <h2 class="m-t-0 m-b-0"><a class="">{{v}}</a></h2>
                                        <div class="">{{resource.tools.vseparates.js[count]}}</div>
                                    </div>
                                    <div style="cursor: pointer;" class="col-md-3  text-center status-green"
                                         ng-click="getAllMigrations()">
                                        <h2 class="m-t-0 m-b-0"><a class="status-green">{{data.total || 0}}</a></h2>
                                        <div class="status-green">{{resource.tools.vseparates.html.msg1}}</div>
                                    </div>
                                </div>
                                <!-- End row -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">{{resource.tools.vseparates.html.msg2}}</h4>
                </div>
                <div class="panel-body">
                    <div id="toolbar" class="table-toolbar row">
                        <div class="col-md-12">
                            {{resource.tools.vseparates.html.msg3}}{{data.results.length}}{{resource.tools.vseparates.html.msg4}}
                        </div>

                    </div>
                    <table id="sperate-table"></table>
                </div>
            </div>

            <div class="modals">
                <div class="modal fade" id="deleteSplitDialog" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{resource.tools.vseparates.html.msg5}}</h4>
                            </div>
                            <div class="modal-body warning-important">
                                {{resource.tools.vseparates.html.msg6}}
                            </div>
                            <div class="modal-footer">
                                <div class="pull-right">
                                    <button ng-click="confirmRemoveSplit()" class="btn btn-info" data-dismiss="modal">
                                        {{resource.tools.vseparates.html.msg7}}
                                    </button>

                                    <button class="btn btn-warning" data-dismiss="modal">{{resource.tools.vseparates.html.msg8}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="progressDialog" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{resource.tools.vseparates.html.msg9}}</h4>
                            </div>
                            <div class="modal-body" id="progress">

                            </div>
                            <div class="modal-footer">
                                <div class="pull-right">
                                    <button class="btn btn-info closeProgressWindowBt" data-dismiss="modal">{{resource.tools.vseparates.html.msg10}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid " id="foot-area" ng-app="footApp" ng-controller="footController">
        <div class="container pull-left">
            &copy;2016 Framework, ctrip.com, all rights reserved; Support:<a
                href="mailto:slb@test.com?subject=SLB%b2%fa%c6%b7%d7%c9%d1%af&body=%c7%eb%cc%ed%bc%d3%d7%c9%d1%af%ce%ca%cc%e2%c1%d0%b1%ed, %b5%b1%c7%b0%d2%b3%c3%e6%3a: {{getFullUrl()}}">{{resource.footApp.body}}
            SLB Team</a>
        </div>
    </div>
</section>


<script src="/static/lib/angular-ui-bootstrap/ui-bootstrap-tpls-2.0.0.js"></script>
<script src="/static/lib/encoder/gbk.js"></script>
<script src="/static/js/global.js"></script>
<script src="/static-new/main/tools/vs-seperates.js"></script>

</body>
</html>