<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Edit Delegate Group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/lib/jquery/jquery-2.2.1.min.js"></script>
    <script src="/static/lib/jquery/jquery.cookie.js"></script>
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/lib/angular/angular.js"></script>
    <script src="/static/lib/jquery/jquery.ba-hashchange.js"></script>
    <!--Bootstrap-->
    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/lib/velonic-admin/css/bootstrap-reset.css">

    <link rel="stylesheet" href="/static/lib/font-awesome-4.6.3/css/font-awesome.min.css">

    <!--Include Bootstrap-Table-->
    <script src="/static/lib/bootstrap-table/bootstrap-table.js"></script>
    <script src="/static/lib/bootstrap-table/bootstrap-table-zh-CN.js"></script>
    <script src="/static/lib/bootstrap-table/bootstrap-table-editable.js"></script>
    <script src="/static/lib/bootstrap-table/bootstrap-editable.js"></script>
    <link rel="stylesheet" href="/static/lib/bootstrap-table/bootstrap-table.css">
    <link rel="stylesheet" href="/static/lib/bootstrap-table/bootstrap-editable.css">
    <link rel="stylesheet" href="/static/lib/font-awesome-4.6.3/css/font-awesome.min.css">

    <!-- Include Bootstrap-Validator -->
    <script src="/static/lib/bootstrap-validator/bootstrap.validation.js"></script>
    <link rel="stylesheet" href="/static/lib/bootstrap-validator/bootstrap.validation.css">

    <script src="/static/lib/jquery-showloading/jquery.showLoading.js"></script>

    <!--Animation css-->
    <link rel="stylesheet" href="/static/css/animate.css">
    <link href="/static/lib/velonic-admin/css/animate.css" rel="stylesheet">
    <link href="/static/lib/velonic-admin/assets/ionicon/css/ionicons.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/static/lib/velonic-admin/css/style.css" rel="stylesheet">
    <link href="/static/lib/velonic-admin/css/helper.css" rel="stylesheet">

    <!--Underscore-->
    <script src="/static/lib/underscore/underscore-min.js"></script>

    <!--<script src="/static/lib/velonic-admin/js/jquery.js"></script>-->
    <script src="/static/lib/velonic-admin/js/modernizr.min.js"></script>
    <script src="/static/lib/velonic-admin/js/pace.min.js"></script>
    <script src="/static/lib/velonic-admin/js/wow.min.js"></script>
    <script src="/static/lib/velonic-admin/js/jquery.app.js"></script>

    <link rel="stylesheet" href="/static/css/global-new.css">
    <link rel="stylesheet" href="/static/css/formatter.css">
    <link rel="stylesheet" href="/static/css/group/group-edit.css">

    <style type="text/css">
        .table td {
            line-height: 50px;
        }
        .tile-selected{
            border: 0px !important;
        }
        .btns button{
            margin: 10px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<header class="am-topbar admin-header page-head">

    <div class="am-topbar-brand ">
        <a href="/portal" class="logo-expanded">
            <span class="nav-label fa fa-road">SLB Portal</span>
        </a>
    </div>

    <div class="am-topbar-collapse">
        <button type="button" class="navbar-toggle pull-left">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div id="top-brand" class="navbar-left pull-left hidden-xs" ng-app="brandApp" ng-controller="brandController"
             ng-cloak>

        </div>
    </div>

    <nav class="navbar-default" role="navigation">
        <ul class="nav navbar-nav hidden-xs" id="top-links" ng-app="topLinksApp" ng-controller="topLinksController"
            ng-cloak>
            <li class="dropdown" ng-class="isSelectedLink(x.url)" data-ng-repeat="x in data.members">
                <a href="{{generateTopLink(x)}}"><span ng-class="iconClass(x)"></span>{{x.name}}</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right top-menu top-right-menu">
            <li class="dropdown language-menu" id="language-area" ng-app="languageApp"
                ng-controller="languageController" ng-cloak>
                <button class="btn btn-default btn-xs language-bt">语言</button>
                <select class="language-choose" ng-model="selected" ng-change="changeLanguage(selected)">
                    <option style="color: white" data-ng-repeat="lan in data.languages">{{lan}}</option>
                </select></li>
            <li class="dropdown diagnose-menu"><a class="diagnose-menu-item" data-toggle="modal"
                                                  data-target="#questionModal" data-dismiss="modal"><span><i
                    class="fa fa-comment-o"></i> <span>Feedback</span></span></a></li>

            <li class="dropdown text-center" id="user-info" ng-app="userInfoApp" ng-controller="userInfoController"
                ng-cloak>
                <a data-toggle="dropdown" class="dropdown-toggle naviList" href="#">
                    <i class="fa fa-user username"></i>
                    <span class="username">{{query.user}} </span> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu pro-menu fadeInUp animated user-ops-div" tabindex="5003"
                    style="overflow: hidden; outline: none;">
                    <li><a href="/portal/user#?env={{env}}"><span>&nbsp;{{resource['userinfo']['home']}}</span></a></li>
                    <li ng-show="showSuperAdmin()"><a href="/portal/users#?env={{env}}"><span>&nbsp;{{resource['userinfo']['auth']}}</span></a>
                    </li>
                    <li><a href="/api/auth/user/logout"><span>&nbsp;{{resource['userinfo']['logout']}}</span></a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<aside class="left-panel-half " style="overflow: hidden; outline: none;">
</aside>
<section class="middle-content">
    <div class="wraper container-fluid">
        <div class="row breadcrumb-container" id="breadcrumb-area" ng-app="breadCrumbApp"
             ng-controller="breadCrumbController" ng-cloak>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    {{resource['bread']['home']}}
                </li>
                <li ng-repeat="x in breadlist" ng-cloak>
                    {{x}}
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="wraper container-fluid">
                <!-- Basic Form Wizard -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default" id="inputarea">

                            <div class="panel-body">
                                <div class="container group-edit-container" id="group-edit-area" ng-app="groupEditApp"
                                     ng-controller="groupEditController" ng-cloak>

                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                            <thead>

                                            <tr style="border: none">
                                                <td style="width: 15%;border: none"></td>
                                                <td style="border: none"></td>
                                            </tr>
                                            </thead>
                                            <tr>
                                                <td>
                                                    <label for="name">Name</label>
                                                </td>

                                                <td>
                                                    <input data-ng-model="data.group.name" type="text"
                                                           class="form-control" id="name"
                                                           placeholder="Group 名称...">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="vs">Virtual Server</label>
                                                </td>
                                                <td>
                                                    <span>
                                                        <a id="vs"
                                                           data-ng-model="data.group['group-virtual-servers'][0]['virtual-server']['id']"
                                                           href="/portal/vs#?env={{env}}&vsId={{query.vsId}}">{{query.vsId}}/{{getDomains()}}</a>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="health">Health Check URI</label>
                                                </td>
                                                <td>
                                                    <span>
                                                       <input type="text" id="health" class="form-control" data-ng-model="data.group['health-check']['uri']" placeholder="健康检测uri..."/>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><label for="vs">上海SLB</label></td>
                                                <td>
                                                    <div class="row" style="margin-bottom: 10px">
                                                        <div class="col-md-8">
                                                            <span class="label label-default pull-left" style="margin:0px 3px 3px 0px; cursor: pointer" ng-repeat="(k,v) in query.selectedslbids"
                                                                  ng-click="removeSlb(v)">{{getSlbInfo(v)}} <b>x</b> </span>
                                                        </div>

                                                        <div class="col-md-2">
                                                            <span class="pull-right" style="line-height: 30px">Filter:</span>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <input type="text" data-ng-model="slbid" class="form-control" placeholder="SLB Id ..." />
                                                        </div>
                                                    </div>
                                                    <div class="" style="overflow-y: auto; overflow-x: hidden; max-height: 500px">
                                                        <div class="pull-left" style="width: 25%; padding: 5px;" ng-click="toggleSlb(slb.id)"
                                                             data-ng-repeat="slb in data.slbs | slbFilter:slbid">
                                                            <div class="widget-panel widget-style-2 white-bg" style="padding: 15px;" ng-class="getTileClass(slb.id)">
                                                                <h2 class="m-0 counter"><a href="/portal/slb#?slbId={{slb.id}}&env=pro">{{slb.id}}</a></h2>
                                                                <div>
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            IDC:
                                                                        </div>

                                                                        <div class="col-md-10">
                                                                            {{slb.idc}}
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            Zone:
                                                                        </div>

                                                                        <div class="col-md-10">
                                                                            {{slb.zone}}
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            Vips:
                                                                        </div>

                                                                        <div class="col-md-10" style="max-height: 20px; overflow-y: auto">
                                                                            <ul style="margin-left: -40px; list-style: none">
                                                                                <li data-ng-repeat="vip in slb.vips">
                                                                                    {{vip}}
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="row btns">
                                        <div class="col-md-12">
                                            <button ng-disabled="disableSaving()" type="button" class="btn btn-info pull-right" ng-click="saveGroup()">
                                                保存
                                            </button>
                                            <button type="button" class="btn btn-warning pull-right">
                                                取消
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modals">
                                        <div id="operationConfrimModel" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Operation Result</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h4 class="status-green">
                                                            {{query.saveresult}}
                                                        </h4>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-info" ng-click="confirmSave()">确定</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid page-foot" id="foot-area" ng-app="footApp" ng-controller="footController">
                <div class="container">
                    &copy;2016 Framework, ctrip.com, all rights reserved; Support:<a
                        href="mailto:slb@test.com?subject=SLB%b2%fa%c6%b7%d7%c9%d1%af&body=%c7%eb%cc%ed%bc%d3%d7%c9%d1%af%ce%ca%cc%e2%c1%d0%b1%ed, %b5%b1%c7%b0%d2%b3%c3%e6%3a: {{getFullUrl()}}">框架研发部
                    SLB Team</a>
                </div>
            </div>
</section>

<link href="/static/lib/velonic-admin/assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">
<script src="/static/lib/velonic-admin/assets/sweet-alert/sweet-alert.min.js"></script>
<script src="/static/lib/angular/angular-cookies.js"></script>
<script src="/static/js/http-auth-interceptor.js"></script>
<script src="/static/lib/angular-autocomplete/angucomplete-alt.min.js"></script>
<link rel="stylesheet" href="/static/lib/angular-autocomplete/angucomplete-alt.css">
<script src="/static/lib/encoder/gbk.js"></script>
<script src="/static/js/global.js"></script>
<script src="/static/js/util.js"></script>
<script src="/static/js/delegate-edit.js"></script>
</body>
</html>