<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App List</title>
    <script src="/static/lib/jquery/jquery-2.2.1.min.js"></script>
    <script src="/static/lib/jquery/jquery.cookie.js"></script>
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/lib/angular/angular.js"></script>
    <script src="/static/lib/jquery/jquery.ba-hashchange.js"></script>
    <!--Bootstrap-->
    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/lib/velonic-admin/css/bootstrap-reset.css">

    <!--Include Bootstrap-Table-->
    <script src="/static/lib/bootstrap-table/bootstrap-table.js"></script>
    <script src="/static/lib/bootstrap-table/bootstrap-table-zh-CN.js"></script>
    <script src="/static/lib/bootstrap-table/bootstrap-table-editable.js"></script>
    <script src="/static/lib/bootstrap-table/bootstrap-editable.js"></script>
    <link rel="stylesheet" href="/static/lib/bootstrap-table/bootstrap-table.css">
    <link rel="stylesheet" href="/static/lib/bootstrap-table/bootstrap-editable.css">

    <link rel="stylesheet" href="/static/lib/font-awesome-4.6.3/css/font-awesome.min.css">

    <!--Animation css-->
    <link rel="stylesheet" href="/static/css/animate.css">
    <link href="/static/lib/velonic-admin/css/animate.css" rel="stylesheet">
    <link href="/static/lib/velonic-admin/assets/ionicon/css/ionicons.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/static/lib/velonic-admin/css/style.css" rel="stylesheet">
    <link href="/static/lib/velonic-admin/css/helper.css" rel="stylesheet">

    <!--<script src="/static/lib/velonic-admin/js/jquery.js"></script>-->
    <script src="/static/lib/velonic-admin/js/modernizr.min.js"></script>
    <script src="/static/lib/velonic-admin/js/pace.min.js"></script>
    <script src="/static/lib/velonic-admin/js/wow.min.js"></script>
    <script src="/static/lib/velonic-admin/js/jquery.app.js"></script>

    <!--Underscore-->
    <script src="/static/lib/underscore/underscore-min.js"></script>

    <link rel="stylesheet" href="/static/css/global-new.css">
    <link rel="stylesheet" href="/static/css/formatter.css">
    <link rel="stylesheet" href="/static/css/app.css">

</head>
<body>
<header class="am-topbar admin-header page-head">

    <div class="am-topbar-brand ">
        <a href="/portal" class="logo-expanded">
            <span class="nav-label fa fa-road">SLB Portal</span>
        </a>
    </div>

    <div class="am-topbar-collapse">
        <button type="button" class="navbar-toggle pull-left">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div id="top-brand" class="navbar-left pull-left hidden-xs" ng-app="brandApp" ng-controller="brandController"
             ng-cloak>

        </div>
    </div>

    <nav class="navbar-default" role="navigation">
        <ul class="nav navbar-nav hidden-xs" id="top-links" ng-app="topLinksApp" ng-controller="topLinksController"
            ng-cloak>
            <li class="dropdown" ng-class="isSelectedLink(x.url)" data-ng-repeat="x in data.members">
                <a href="{{generateTopLink(x)}}"><span ng-class="iconClass(x)"></span>{{x.name}}</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right top-menu top-right-menu"><li class="dropdown language-menu" id="language-area" ng-app="languageApp" ng-controller="languageController" ng-cloak> <button class="btn btn-default btn-xs language-bt">语言</button> <select class="language-choose" ng-model="selected" ng-change="changeLanguage(selected)"><option style="color: white" data-ng-repeat="lan in data.languages">{{lan}}</option></select></li>
            <li class="dropdown diagnose-menu"><a class="diagnose-menu-item" data-toggle="modal"
                                                  data-target="#questionModal" data-dismiss="modal"><span><i
                    class="fa fa-comment-o"></i> <span>Feedback</span></span></a></li>

            <li class="dropdown text-center" id="user-info" ng-app="userInfoApp" ng-controller="userInfoController"
                ng-cloak>
                <a data-toggle="dropdown" class="dropdown-toggle naviList" href="#">
                    <i class="fa fa-user username"></i>
                    <span class="username">{{query.user}} </span> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu pro-menu fadeInUp animated user-ops-div" tabindex="5003"
                    style="overflow: hidden; outline: none;">
                    <li><a href="/portal/user#?env={{env}}"><span>&nbsp;{{resource['userinfo']['home']}}</span></a></li>
                    <li ng-show="showSuperAdmin()"><a href="/portal/backend/users#?env={{env}}"><span>&nbsp;{{resource['userinfo']['auth']}}</span></a>
                    </li>
                    <li><a href="/api/auth/user/logout"><span>&nbsp;{{resource['userinfo']['logout']}}</span></a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<aside class="left-panel-half " style="overflow: hidden; outline: none;">
</aside>

<section class="middle-content">
    <div class="wraper container-fluid">
        <div class="row breadcrumb-container" id="breadcrumb-area" ng-app="breadCrumbApp"
             ng-controller="breadCrumbController" ng-cloak>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    {{resource['bread']['home']}}
                </li>
                <li ng-repeat="x in breadlist" ng-cloak>
                    {{x}}
                </li>
            </ul>
        </div>
        <div class="row breadcrumb-follow" id="apps-summary-area" ng-app="appsSummaryApp"
             ng-controller="appsSummaryController">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="widget-panel widget-style-2 white-bg">
                        <i class="fa fa-line-chart text-pink"></i>

                        <div>
                            <h2 class="m-0 text-center qps-text">0
                            </h2>

                            <div class="text-center">QPS</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-sm-6">
                    <div class="widget-panel widget-style-2 white-bg" style="padding: 40px 10px 0px 0px;height: 130px;">
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="row" style="margin-left: 10px;">

                                    <div class="col-xs-3 text-center">
                                        <h2 class="m-t-0 m-b-0 apps-text">0</h2>

                                        <div>Apps</div>
                                    </div>

                                    <div
                                            class="col-xs-3 text-center">
                                        <h2 class=" m-b-0 m-t-0 groups-text">0</h2>

                                        <div>Groups</div>
                                    </div>
                                    <div class="col-xs-3 text-center">
                                        <h2 class=" m-b-0 m-t-0 servers-text">0</h2>

                                        <div>Servers</div>
                                    </div>
                                    <div class="col-xs-3 text-center">
                                        <h2 class=" m-b-0 m-t-0 members-text">0</h2>

                                        <div>Members</div>
                                    </div>
                                </div>
                                <!-- End row -->
                            </div>
                            <!-- col-->
                            <div class="col-sm-2">
                                <div class="">
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <i class="fa fa-sitemap status-green"></i>
                                        </div>
                                    </div>
                                    <!-- end row -->
                                </div>
                                <!-- weather-widget -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row query-container" id="apps-query-area" ng-app="appsQueryApp" ng-controller="appsQueryController"
             ng-cloak>
            <div class="col-md-12 panel panel-default">
                <div class="col-md-10 form-area">
                    <div class="row app">
                        <div class="col-md-1 query-label">AppId:</div>
                        <div class="col-md-5 query-body">
                            <div angucomplete-alt id="appIdSelector"
                                 placeholder={{resource.apps.html.msg1}}
                                 pause="100"
                                 selected-object="selectAppId"
                                 remote-url="{{remoteAppsUrl()}}"
                                 remote-url-request-formatter="cacheRequestFn"
                                 search-fields="id,name,pinyin"
                                 title-field="id"
                                 description-field="name"
                                 minlength="0"
                                 match-class="highlight"
                                 input-class="form-control form-control-small">
                            </div>
                        </div>
                    </div>

                    <div class="row bu" ng-show="data.buArr.length>0">
                        <div class="col-md-1 query-label">BU:</div>
                        <div class="col-md-11 query-body">
                            <div class="col-md-11 multi-tags" ng-class="multiTagsClass()">
                        <span data-ng-repeat="b in data.buArr" class="label label-default pull-left bu-class"
                              ng-class="isSelectedBu(b)" ng-click="toggleBu(b)">
                            {{b}}
                        </span>
                            </div>
                            <div class="col-md-1 collapse-btns ">
                                <a ng-click="buClear()" ng-class="showClear('bu')">Clear</a>
                                <a ng-click="toggleShowMoreBU()" class="toggle-show-btn">
                                    <span ng-class="collapseBtnClass()"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-2 button-area">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" ng-click="clearQuery()">{{resource.apps.html.msg2}}</button>
                        <button type="button" class="btn btn-info" ng-click="executeQuery()" id="executeQuery">{{resource.apps.html.msg3}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="apps-result-area" ng-app="appsResultApp" ng-controller="appsResultController"
             ng-cloak>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{resource.apps.html.msg4}}</h3>
                </div>
                <div class="panel-body">
                    <div id="appList-table-toolbar" class="table-toolbar">
            <span class="slbs-summarizer">{{resource.apps.html.msg5}} <b>{{summaryInfo.totalAppCount}}</b> {{resource.apps.html.msg6}},
                <span>{{resource.apps.html.msg7}}<b> {{summaryInfo.totalGroupCount}} </b>{{resource.apps.html.msg8}},
                <b> {{summaryInfo.totalServerCount}} </b>{{resource.apps.html.msg9}},<b> {{summaryInfo.totalMemberCount}} </b>{{resource.apps.html.msg11}}
                </span>
            </span>
                    </div>
                    <table id="apps-table"></table>
                </div>
            </div>
        </div>
    </div>
    <div class=" container-fluid " id="foot-area" ng-app="footApp" ng-controller="footController">
        <div class="container pull-left">
            &copy;2016 Framework, ctrip.com, all rights reserved; Support:<a
                href="mailto:slb@test.com?subject=SLB%b2%fa%c6%b7%d7%c9%d1%af&body=%c7%eb%cc%ed%bc%d3%d7%c9%d1%af%ce%ca%cc%e2%c1%d0%b1%ed, %b5%b1%c7%b0%d2%b3%c3%e6%3a: {{getFullUrl()}}">{{resource.footApp.body}}
            SLB Team</a>
        </div>
    </div>
    </div>
</section>
<div class="modal fade" id="questionModal" role="dialog" ng-app="questionModalApp" ng-controller="questionModalCtrl">
    <div class="modal-dialog">         <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{resource.languageApp.languageController.feedback}}</h4></div>
            <div class="modal-body">
                <div class="tips warning-important"></div>
                <div class="form-group">
                    <div class=""><i class="fa fa-lightbulb-o" style="font-size: 20px"></i> <span class="op-bar">{{resource.questionModal.token1}}</span>
                    </div>
                    <div class="system-padding-top"><textarea cols="2" rows="10" style="width: 100%"

                                                              id="comment-text" placeholder="{{resource.questionModal.token2}}"></textarea></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="submmit-question" data-dismiss="modal">{{resource.apps.html.msg12}}</button>
                <button type="button" class="btn btn-warning deny-operator" data-dismiss="modal">{{resource.apps.html.msg13}}</button>
            </div>
        </div>
        <input type="hidden" value="" class="status-hidden"/> <input type="hidden" value="" class="op-hidden"/> <input
                type="hidden" value="" class="ip-hidden"/></div>
</div>
</body>
<link href="/static/lib/velonic-admin/assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">
<script src="/static/lib/velonic-admin/assets/sweet-alert/sweet-alert.min.js"></script>
<script src="/static/lib/angular/angular-cookies.js"></script>
<script src="/static/js/http-auth-interceptor.js"></script>
<script src="/static/lib/angular/angular-sanitize.js"></script>
<script src="/static/lib/angular-autocomplete/angucomplete-alt.min.js"></script>
<link rel="stylesheet" href="/static/lib/angular-autocomplete/angucomplete-alt.css">
<script src="/static/lib/encoder/gbk.js"></script>
<script src="/static/js/global.js"></script>
<script src="/static/js/apps.js"></script>
</html>