<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SLB Statistics</title>
    <script src="/static/lib/jquery/jquery-2.2.1.min.js"></script>
    <script src="/static/lib/jquery/jquery.cookie.js"></script>
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/lib/angular/angular.js"></script>
    <script src="/static/lib/jquery/jquery.ba-hashchange.js"></script>
    <!--Bootstrap-->
    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/lib/velonic-admin/css/bootstrap-reset.css">

    <!--Include Bootstrap-Table-->
    <script src="/static/lib/bootstrap-table/bootstrap-table.js"></script>
    <script src="/static/lib/bootstrap-table/bootstrap-table-zh-CN.js"></script>
    <script src="/static/lib/bootstrap-table/bootstrap-table-editable.js"></script>
    <script src="/static/lib/bootstrap-table/bootstrap-editable.js"></script>
    <link rel="stylesheet" href="/static/lib/bootstrap-table/bootstrap-table.css">
    <link rel="stylesheet" href="/static/lib/bootstrap-table/bootstrap-editable.css">

    <link rel="stylesheet" href="/static/lib/font-awesome-4.6.3/css/font-awesome.min.css">

    <!--Animation css-->
    <link rel="stylesheet" href="/static/css/animate.css">
    <link href="/static/lib/velonic-admin/css/animate.css" rel="stylesheet">
    <link href="/static/lib/velonic-admin/assets/ionicon/css/ionicons.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/static/lib/velonic-admin/css/style.css" rel="stylesheet">
    <link href="/static/lib/velonic-admin/css/helper.css" rel="stylesheet">

    <!--Underscore-->
    <script src="/static/lib/underscore/underscore-min.js"></script>

    <!--<script src="/static/lib/velonic-admin/js/jquery.js"></script>-->
    <script src="/static/lib/velonic-admin/js/modernizr.min.js"></script>
    <script src="/static/lib/velonic-admin/js/pace.min.js"></script>
    <script src="/static/lib/velonic-admin/js/wow.min.js"></script>
    <script src="/static/lib/velonic-admin/js/jquery.app.js"></script>

    <link rel="stylesheet" href="/static/css/global-new.css">
    <link rel="stylesheet" href="/static/css/formatter.css">
    <link rel="stylesheet" href="/static/css/statistics.css">
</head>

<body>
<header class="am-topbar admin-header page-head">

    <div class="am-topbar-brand ">
        <a href="/portal" class="logo-expanded">
            <span class="nav-label fa fa-road">SLB Portal</span>
        </a>
    </div>

    <div class="am-topbar-collapse">
        <button type="button" class="navbar-toggle pull-left">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div id="top-brand" class="navbar-left pull-left hidden-xs" ng-app="brandApp" ng-controller="brandController"
             ng-cloak>

        </div>
    </div>

    <nav class="navbar-default" role="navigation">
        <ul class="nav navbar-nav hidden-xs" id="top-links" ng-app="topLinksApp" ng-controller="topLinksController"
            ng-cloak>
            <li class="dropdown" ng-class="isSelectedLink(x.url)" data-ng-repeat="x in data.members">
                <a href="{{generateTopLink(x)}}"><span ng-class="iconClass(x)"></span>{{x.name}}</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right top-menu top-right-menu">
            <li class="dropdown language-menu" id="language-area" ng-app="languageApp"
                ng-controller="languageController" ng-cloak>
                <button class="btn btn-default btn-xs language-bt">语言</button>
                <select class="language-choose" ng-model="selected" ng-change="changeLanguage(selected)">
                    <option style="color: white" data-ng-repeat="lan in data.languages">{{lan}}</option>
                </select></li>
            <li class="dropdown diagnose-menu"><a class="diagnose-menu-item" data-toggle="modal"
                                                  data-target="#questionModal" data-dismiss="modal"><span><i
                    class="fa fa-comment-o"></i> <span>Feedback</span></span></a></li>

            <li class="dropdown text-center" id="user-info" ng-app="userInfoApp" ng-controller="userInfoController"
                ng-cloak>
                <a data-toggle="dropdown" class="dropdown-toggle naviList" href="#">
                    <i class="fa fa-user username"></i>
                    <span class="username">{{query.user}} </span> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu pro-menu fadeInUp animated user-ops-div" tabindex="5003"
                    style="overflow: hidden; outline: none;">
                    <li><a href="/portal/user#?env={{env}}"><span>&nbsp;{{resource['userinfo']['home']}}</span></a></li>
                    <li ng-show="showSuperAdmin()"><a href="/portal/backend/users#?env={{env}}"><span>&nbsp;{{resource['userinfo']['auth']}}</span></a>
                    </li>
                    <li><a href="/api/auth/user/logout"><span>&nbsp;{{resource['userinfo']['logout']}}</span></a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<aside class="left-panel " style="overflow: hidden; outline: none;">

    <nav id="header-area" ng-controller="headerInfoController" class="navigation" ng-cloak>
        <ul class="list-unstyled">
            <li class="active"><a href="{{generateLink('basic')}}"><i
                    class="ion-ios7-speedometer"></i>
                <span class="nav-label">{{resource["navs"]["navs_info"]}}</span></a></li>
            <li class=""><a href="{{generateLink('pie')}}"><i class="fa fa-pie-chart"></i> <span
                    class="nav-label">{{resource["navs"]["chart"]}}</span></a>
            </li>
            <li class=""><a href="{{generateLink('cert')}}"><i class="fa fa-certificate"></i> <span
                    class="nav-label">证书管理</span></a>
            </li>
            <li class=""><a href="{{generateLink('hc')}}"><i class="fa fa-heartbeat"></i> <span
                    class="nav-label">健康检测配置</span></a>
            </li>



            <li class="hide"><a href="{{generateLink('policy')}}"><i class="fa fa-map-signs"></i> <span
                    class="nav-label">{{resource["navs"]["navs_net_java"]}}</span></a>
            </li>


            <li class=""><a href="{{generateLink('version')}}"><i class="fa fa-info"></i> <span
                    class="nav-label">{{resource["navs"]["navs_release_version"]}}</span></a>
            </li>
            <li class=""><a href="{{generateLink('health')}}"><i class="fa fa-heartbeat"></i> <span
                    class="nav-label">{{resource["navs"]["navs_health"]}}</span></a>
            </li>
            <li class=""><a href="{{generateLink('log')}}"><i class="ion-settings"></i> <span
                    class="nav-label">{{resource["navs"]["navs_log"]}}</span></a>
            </li>


            <li class=""><a href="{{generateLink('comments')}}"><i class="fa fa-comment-o"></i> <span
                    class="nav-label">{{resource["navs"]["navs_feedback"]}}</span></a>
            </li>
            <li class=""><a href="{{generateLink('rule')}}"><i class="fa fa-pencil-square-o"></i> <span
                    class="nav-label">{{resource["navs"]["navs_rule"]}}</span></a>
            </li>
        </ul>
    </nav>
</aside>

<section class="content">
    <div class="wraper container-fluid">
        <div class="row breadcrumb-container" id="breadcrumb-area" ng-app="breadCrumbApp"
             ng-controller="breadCrumbController" ng-cloak>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    {{resource['bread']['home']}}
                </li>
                <li ng-repeat="x in breadlist" ng-cloak>
                    {{x}}
                </li>
            </ul>
        </div>
        <div class="row breadcrumb-follow" id="apps-summary-area" ng-app="stasticSummaryApp"
             ng-controller="stasticSummaryController" ng-cloak>
            <div class="col-lg-3 col-sm-6">
                <div class="widget-panel widget-style-2 white-bg" style="padding: 40px 10px 0px 0px;height: 130px;">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row" style="margin-left: 10px;">
                                <div style="cursor: pointer;" ng-click="navigateTo('activated')"
                                     class="col-xs-4 text-center">
                                    <h2 class="m-t-0 m-b-0  "><a class="status-green activate-group-text">0</a></h2>

                                    <div class=" status-green">
                                        {{resource["statistics"]["statistics_stasticSummaryApp_status"]["已激活"]}}
                                    </div>
                                </div>
                                <div style="cursor: pointer" ng-click="navigateTo('tobeactivated')"
                                     class="col-xs-4 text-center">
                                    <h2 class=" m-b-0 m-t-0  "><a class="status-yellow tobeactivated-group-text">0</a>
                                    </h2>

                                    <div class="status-yellow">
                                        {{resource["statistics"]["statistics_stasticSummaryApp_status"]["有变更"]}}
                                    </div>
                                </div>
                                <div style="cursor: pointer" class="col-xs-4 text-center"
                                     ng-click="navigateTo('deactivated')">
                                    <h2 class=" m-b-0 m-t-0  "><a class="status-gray deactivated-group-text">0</a></h2>

                                    <div class="status-gray">
                                        {{resource["statistics"]["statistics_stasticSummaryApp_status"]["未激活"]}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="">
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <i class="fa fa-pie-chart text-pink"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="widget-panel widget-style-2 white-bg" style="padding: 40px 10px 0px 0px;height: 130px;">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row" style="margin-left: 10px;">
                                <div style="cursor: pointer;" ng-click="navigateTo('healthy')"
                                     class="col-xs-4 text-center">
                                    <h2 class="m-t-0 m-b-0 "><a class="status-green healthy-text">0</a></h2>

                                    <div class="status-green">
                                        {{resource["statistics"]["statistics_stasticSummaryApp_healthy"]["healthy"]}}
                                    </div>
                                </div>
                                <div style="cursor: pointer" ng-click="navigateTo('tobeactivated')"
                                     class="col-xs-4 text-center">
                                    <h2 class=" m-b-0 m-t-0 "><a class="status-yellow unhealthy-text">0</a></h2>

                                    <div class="status-yellow">
                                        {{resource["statistics"]["statistics_stasticSummaryApp_healthy"]["unhealthy"]}}
                                    </div>
                                </div>
                                <div style="cursor: pointer" class="col-xs-4 text-center"
                                     ng-click="navigateTo('deactivated')">
                                    <h2 class=" m-b-0 m-t-0 "><a class="status-gray broken-text">0</a></h2>

                                    <div class="status-gray">
                                        {{resource["statistics"]["statistics_stasticSummaryApp_healthy"]["broken"]}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="">
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <i class="fa fa-heartbeat status-yellow"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-3">
                <div class="widget-panel widget-style-2 white-bg">
                    <div>
                        <h2 class="m-0 text-center "><a class="status-gray qps-text"></a></h2>

                        <div class="text-center">{{resource["statistics"]["statistics_stasticSummaryApp_qps"]}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="widget-panel widget-style-2 white-bg" style="padding: 40px 10px 0px 0px;height: 130px;">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row" style="margin: 0px 5px;">
                                <div
                                        class="col-xs-1 text-center">
                                    <h2 class=" m-b-0 m-t-0 idc-text">1</h2>

                                    <div>{{resource["statistics"]["statistics_stasticSummaryApp_idcs"]}}</div>
                                </div>
                                <div
                                        class="col-xs-1 text-center" style="cursor: pointer"
                                        ng-click="navigateTo('slb')">
                                    <h2 class=" m-b-0 m-t-0"><a class="slb-text status-gray">0</a></h2>

                                    <div style="margin-left: 5px">
                                        {{resource["statistics"]["statistics_stasticSummaryApp_slbs"]}}
                                    </div>
                                </div>
                                <div
                                        class="col-xs-2 text-center" style="cursor: pointer"
                                        ng-click="navigateTo('vs')">
                                    <h2 class=" m-b-0 m-t-0 "><a class="vs-text status-gray">0</a></h2>

                                    <div>{{resource["statistics"]["statistics_stasticSummaryApp_vses"]}}</div>
                                </div>
                                <div
                                        class="col-xs-2 text-center" style="cursor: pointer"
                                        ng-click="navigateTo('bu')">
                                    <h2 class=" m-b-0 m-t-0 "><a class="bu-text status-gray">0</a></h2>

                                    <div style="margin-left: 5px">
                                        {{resource["statistics"]["statistics_stasticSummaryApp_bus"]}}
                                    </div>
                                </div>
                                <div style="cursor: pointer" ng-click="navigateTo('group')"
                                     class="col-xs-2 text-center">
                                    <h2 class=" m-b-0 m-t-0 "><a class="status-gray groups-text">0</a></h2>

                                    <div>{{resource["statistics"]["statistics_stasticSummaryApp_groups"]}}</div>
                                </div>
                                <div class="col-xs-2 text-center">
                                    <h2 class=" m-b-0 m-t-0 servers-text">1</h2>

                                    <div>{{resource["statistics"]["statistics_stasticSummaryApp_servers"]}}</div>
                                </div>
                                <div class="col-xs-2 text-center">
                                    <h2 class=" m-b-0 m-t-0 members-text">1</h2>

                                    <div>{{resource["statistics"]["statistics_stasticSummaryApp_members"]}}</div>
                                </div>
                            </div>
                            <!-- End row -->
                        </div>
                        <!--     &lt;!&ndash; col&ndash;&gt;
                             <div class="col-sm-1">
                                 <div class="">
                                     <div class="row">
                                         <div class="col-xs-12 text-center">
                                             <i class="fa fa-sitemap status-green"></i>
                                         </div>
                                     </div>
                                     &lt;!&ndash; end row &ndash;&gt;
                                 </div>
                                 &lt;!&ndash; weather-widget &ndash;&gt;
                             </div>-->
                    </div>
                </div>
                <!-- End row -->
            </div>
        </div>
        <div class="" id="statistics-area" ng-app="statisticsApp"
             ng-controller="statisticsController" ng-cloak>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{resource["statistics"]["statistics_statisticsApp_idcs"]['title']}}</h3>
                </div>
                <div class="panel-body">
                    <div id="idcs-table-toolbar" class="table-toolbar row">
                        <div class="col-md-12">
                            <strong>{{summary.idcs.length}}</strong>{{resource["statistics"]["statistics_statisticsApp_idcs"]['count']}}
                        </div>

                    </div>
                    <table id="idcs-table"></table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{resource["statistics"]["statistics_statisticsApp_bus"]['title']}}</h3>
                </div>
                <div class="panel-body">
                    <div id="bu-table-toolbar" class="table-toolbar row">
                        <div class="col-md-12">
                            <strong>{{summary.bus.length}}</strong>{{resource["statistics"]["statistics_statisticsApp_bus"]['count']}}
                        </div>
                    </div>
                    <table id="bu-table"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid " id="foot-area" ng-app="footApp" ng-controller="footController">
        <div class="container pull-left">
            &copy;2016 Framework, ctrip.com, all rights reserved; Support:<a
                href="mailto:slb@test.com?subject=SLB%b2%fa%c6%b7%d7%c9%d1%af&body=%c7%eb%cc%ed%bc%d3%d7%c9%d1%af%ce%ca%cc%e2%c1%d0%b1%ed, %b5%b1%c7%b0%d2%b3%c3%e6%3a: {{getFullUrl()}}">框架研发部
            SLB Team</a>
        </div>
    </div>
</section>
<div class="modal fade" id="questionModal" role="dialog" ng-app="questionModalApp" ng-controller="questionModalCtrl">
    <div class="modal-dialog">         <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{resource.languageApp.languageController.feedback}}</h4></div>
            <div class="modal-body">
                <div class="tips warning-important"></div>
                <div class="form-group">
                    <div class=""><i class="fa fa-lightbulb-o" style="font-size: 20px"></i> <span class="op-bar">{{resource.questionModal.token1}}</span>
                    </div>
                    <div class="system-padding-top"><textarea cols="2" rows="10" style="width: 100%"

                                                              id="comment-text"
                                                              placeholder="{{resource.questionModal.token2}}"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="submmit-question" data-dismiss="modal">
                    {{resource.userHome.html.modal.msg1}}
                </button>
                <button type="button" class="btn btn-warning deny-operator" data-dismiss="modal">
                    {{resource.userHome.html.modal.msg2}}
                </button>
            </div>
        </div>
        <input type="hidden" value="" class="status-hidden"/> <input type="hidden" value="" class="op-hidden"/> <input
                type="hidden" value="" class="ip-hidden"/></div>
</div>
</body>
<link href="/static/lib/velonic-admin/assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">
<script src="/static/lib/velonic-admin/assets/sweet-alert/sweet-alert.min.js"></script>
<script src="/static/lib/angular/angular-cookies.js"></script>
<script src="/static/js/http-auth-interceptor.js"></script>
<script src="/static/lib/angular/angular-sanitize.js"></script>
<script src="/static/lib/angular-ui-bootstrap/ui-bootstrap-tpls-2.0.0.js"></script>
<script src="/static/lib/angular-autocomplete/angucomplete-alt.min.js"></script>
<link rel="stylesheet" href="/static/lib/angular-autocomplete/angucomplete-alt.css">
<script src="/static/lib/bootstrap-ui-datetime-picker/datetime-picker.js"></script>
<script src="/static/lib/jquery/jquery-dateFormat.js"></script>
<script src="/static/lib/echarts3.2.2/echarts.min.js"></script>

<script src="/static/lib/encoder/gbk.js"></script>
<script src="/static/js/global.js"></script>
<script src="/static/js/charts.js"></script>
<script src="/static/js/statistics.js"></script>
<script src="/static/lib/velonic-admin/js/jquery.nicescroll.js"></script>
<script src="/static/lib/velonic-admin/js/jquery.app.js"></script>
</html>
